*.ini
figuras/*
*__pycache__*
*.log
simulacion/build/*
simulacion/src/*
presentacion_parcial/*
!presentacion_parcial/presentacion_parcial.tex
!presentacion_parcial/optimal.bib
!*.cu
!*.csv
!*.cpp
!*.hpp
*.ico
.vscode/*
tesis_muestra/*
